body {
    font-family: 'TT Lakes Thin', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: -25px 0 50px 0 #000000;
}

.button-hover {
    padding: 0;
    border: none;
    background-color: #ffffff;
    transition-duration: 0.5s;
}

.button-hover:hover {
    transform: scale(1.4);
}

.href, .button {
    display: inline-block;
}

.href {
    transition-duration: 0.2s;
}

.href:hover {
  transform: scale(1.3);
  text-shadow: 3px 3px 5px rgb(140, 137, 165);
}

.button_position1 {
    margin: 23px 17px 53px 24px;
}

.href_position1 {
    margin: 17px 0 46px 0;
}

.button_position2 {
    margin: 23px 24px 0 68px;
}

.nav__item {
    margin: 0;
    padding: 0;
}

.nav__link {
    color: #1B1C21;
    font-size: 16px;
    text-decoration: none;
    padding-left: 24px;
}

.nav__link_active {
    color: #7E7E82;
    position: relative;
}

.nav__link_active::before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    left: 0px;
    top: -8px;
}

.nav__list {
    list-style: none;
    margin-bottom: 37px;
    transition-duration: 0.2s;
}

.nav__list:hover {
    transform: scale(1.4) translateX(50px);
    color: #bebeca;
    text-shadow: 3px 3px 5px rgb(207, 185, 185);
}

.nav__list:hover a {
    color: #7E7E82;
}

.nav__list:last-child {
    margin-bottom: 272px;
}

.buttom_bottom1 {
    margin-left: 25px;
}

.buttom_bottom2 {
    margin: 0 11px 20px 9px;
}

.href-bottom {
    display: block;
    color: #1B1C21;
    text-decoration: none;
    margin-left: 24px;
    margin-bottom: 15px;
    transition-duration: 0.2s;
}

.href-bottom:hover {
    color: rgb(101, 101, 136);
    transform: scale(1.4) translateX(40px);
    text-shadow: 3px 3px 5px rgb(140, 137, 165);
}

.bottom-tel {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.itemlang {
    display: flex;
    list-style: none;
    gap: 7px;
    padding: 0;
    padding-left: 24px;
}

.itemlang__linklang {
    text-decoration: none;
    color: #1B1C21;
    transition-duration: 0.2s;
}

.itemlang__listlang:hover {
    transform: scale(1.3);
}

.itemlang__linklang_active {
    color: #7E7E82;
}


.item-bottom {
    display: flex;
    gap: 56px;
    margin-left: 30px;
}

.item-bottom__list {
    list-style: none;
    transition-duration: 0.2s;
}

.item-bottom__list:hover {
    transform: scale(1.2);
    
}

.item-bottom__list_img1 {
    list-style-image: url(../images/chat\ copy.png);
}

.item-bottom__list_img2 {
    list-style-image: url(../images/chat.png);
}

.item-bottom__list_img3 {
    list-style-image: url(../images/profile.png);
}

